# This is a basic workflow to help you get started with Actions

name: CI

on:
  workflow_dispatch:
    inputs:
        mode:
          description: 'run mode'
          type: choice
          required: false
          default: 'default'
          options:
            - default
            - cancell_all
            - manual  
  
env:
  SGHREPO: ${{ secrets.SGHREPO }}
  SGHDIR: ${{ secrets.SGHDIR }}
  GH_TOKEN: ${{ secrets.SGHTOKENLOCAL }}
  SNUSER: ${{ secrets.SNUSER }}
  SNUSERTOKEN: ${{ secrets.SNUSERTOKEN }}
  SNSKEY: ${{ secrets.SNSKEY }}
  HSUSER: ${{ secrets.HSUSER }}
  HSPASS: ${{ secrets.HSPASS }}
  HSPORT: ${{ secrets.HSPORT }}
  NGROK_TOKEN: ${{ secrets.NGROK_TOKEN }}
  SSH_PASSWORD: ${{ secrets.HSPASS }}
  TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
  TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
  ENV64: ${{ secrets.ENV64 }}

jobs:
  cancell-all-jobs:
    if: ${{ github.event.inputs.mode == 'cancell_all' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
 
      - name: "Cancel previous workflows"
        env:
          GH_TOKEN: ${{ secrets.SGHTOKENLOCAL }}
        run: |
          for id in $(gh run list --limit 5000 --jq ".[] | select ((.status == \"queued\" or .status == \"in_progress\") and .workflowName == \"${{ github.workflow }}\") | .databaseId" --json databaseId,status,workflowName); 
          do 
            currRunId=${{ github.run_id }} 
            if [[ "$currRunId" != "$id" ]]; then
              gh run cancel $id; 
            fi
          done;

  build:
    if: ${{ github.event.inputs.mode == 'default' || github.event.inputs.mode == 'manual' }}
    runs-on: ubuntu-latest
    #if: ${{ github.event_name == 'schedule' }}
    permissions:
      actions: write
    timeout-minutes: 360
    strategy:
      fail-fast: false      

    steps:
      - uses: actions/checkout@v4

      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
